h1, h2, h3, h4, p {
    margin: 0px !important; 
    line-height: 125% !important;
}
/* page title - recycle matters h1 */
.recycle-h1 {
    font-family: Acumin Pro;
    font-weight: 700; 
    font-size: 46px;
    padding-top: 70px;
    padding-bottom: 20px;
}
.recycle-h2 {
    font-family: Acumin Pro;
    font-weight: 700;
    font-size: 20px;
}
.recycle-h3 {
    font-family: Acumin Pro;
    font-weight: 500;
    font-size: 18px;
}
.thumbnail-title {
    font-size: 14px;
    font-weight: 200;
}
/* global border radius */
.recycle-borders { border-radius: 4px;}
/* ---------------------------------------- */
/* --    Main Colors    --
Dark Cerulean           Deep Space Sparkle                
#02437B                 #465F75                 
Pale Cerulean           Lavender Gray 
#98C1D9                 #BECBD2
Stil de Grain Yellow    Flax
#FADF63                 #E9D88A
Mountain Meadow         Green Sheen
#2FD09A                 #5EBF9F
--------------------
white                   Soft White
#FFFFFF                 #F6F6F6
Gray 1                  Gray 2
#EEEEEE                 #DDDDDD
Med. Gray 1             Med. Gray 2
#BBBBBB                 #8888888
Dark Gray 1             Dark Gray 2             Charcoal
#777777                 #454545                 #333635
*/
/* ---------------------------------------- */
/* -- Colors applied to text and backgrounds --
/* dark-mode background color */
.background-dark { background-color: #465F75;}
/* light-mode background color */
.background-light { background-color: #F6F6F6;}
/* dark color for heading elements - hierachy - light background */
.title-color-dark { color:#333635; }
/* dark color for sub elements - hierachy - light background */
.text-color-dark { color: #454545;}
/* map text color for better hierarchy */
.map-text-color-dark { color: #777777;}
/* light color for heading elements - hierachy - dark background */
.title-color-light { color: #F6F6F6;}
/* light color for sub elements - hierachy - dark background */
.text-color-light { color: #F6F6F6;}
/* warning color - highlight for instructions */
.highlighter { background-color: #FADF63;}
/* isolation color - normal state */
.isolation-color { color: #2FD09A;}
/* isolation color - hover state */
.hover-color { color: #5EBF9F;}
/* placeholder text color */
.placeholder-color { color: #BBBBBB;}
/* -- ------------ --
   --   HOMEPAGE   --
   -- ------------ -- */
/* homepage title */
.homepage-title {
    font-family: Bungee;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    margin-top: 50%;
}
/* homepage subtitle */
.homepage-subtitle {
    font-family: Acumin Pro;
    font-weight: 300;
    font-size: 20px;
}
/* placeholder text */
.placeholder-text {
    font-family: Acumin Pro;
    font-weight: 300;
    font-size: 14px;
}
body,html{
    height: 100%;
}
.background-light{

        position: fixed; 
        top: 0; 
        left: 0; 
      
        /* Preserve aspet ratio */
        min-width: 100%;
        min-height: 100%;
      
}
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .myHeroText{
      text-align: center;
      position: absolute;
      top: 80%;
      left: 50%;

  }
